# Ignoring everything by default
/*

# Tracked top-level files
!README.md
!.gitconfig
!.gitignore
!.gtkrc-2.0

# Un-ignore .config and its contents
!.config/
!.config/**

# Un-ignore specific .local subdirs
!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/**
!.local/share/fonts/
!.local/share/fonts/**
!.local/share/icons/
!.local/share/icons/**

# Sensitive .config dirs to skip
.config/mozilla/
.config/vesktop/
.config/whatsapp-desktop-linux/
.config/onedrive/
.config/ngrok/
