layout {

    focus-ring {
        active-color   "#c0241a"
        inactive-color "#0a0a0c"
        urgent-color   "#ff3b2f"
    }

    border {
        active-color   "#c0241a"
        inactive-color "#0a0a0c"
        urgent-color   "#ff3b2f"
    }

    shadow {
        color "#0a0a0c70"
    }

    tab-indicator {
        active-color   "#c0241a"
        inactive-color "#490803"
        urgent-color   "#ff3b2f"
    }

    insert-hint {
        color "#c0241a80"
    }
}

recent-windows {
    highlight {
        active-color "#c0241a"
        urgent-color "#ff3b2f"
    }
}
