layout {

    focus-ring {
        active-color   "#69e467"
        inactive-color "#152915"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#69e467"
        inactive-color "#152915"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#15291570"
    }

    tab-indicator {
        active-color   "#69e467"
        inactive-color "#0e8d0c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#69e46780"
    }
}

recent-windows {
    highlight {
        active-color "#69e467"
        urgent-color "#fd4663"
    }
}
