layout {

    focus-ring {
        active-color   "#e4bc67"
        inactive-color "#242019"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e4bc67"
        inactive-color "#242019"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#24201970"
    }

    tab-indicator {
        active-color   "#e4bc67"
        inactive-color "#8d640c"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e4bc6780"
    }
}

recent-windows {
    highlight {
        active-color "#e4bc67"
        urgent-color "#fd4663"
    }
}
